cmake_minimum_required(VERSION 3.22)

add_definitions(-DCMAKE_EXPORT_COMPILE_COMMANDS=ON)

list(APPEND BOARD_ROOT ${CMAKE_SOURCE_DIR})

find_package(Zephyr)
project(@PROJECT_NAME@ LANGUAGES C)

FILE(GLOB app_sources 
    src/*.c 
)

target_sources(${CMAKE_PROJECT_NAME} PRIVATE ${app_sources})
